<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sewedy.paymentplugin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:node="merge">

        <!--  <meta-data android:name="username" android:value="TESTMERCHTST_EGP" />
          <meta-data android:name="password" android:value="26c176246ea2389bea43649c5e1d426e" />
  -->

        <activity
            android:name=".ui.PaymentPluginActivity"
            android:exported="true"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>